.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }

    a,
    h1,
    h2,
    h3,
    h4,
    td {
        color: $gris;
    }

    .platillos,
    .resumen__pedido {
        background-color: darken($gris-formulario, 10);

        h2,h3 {
            color: $negro;
        }
    }

    .anuncio,
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        padding: 0 2rem;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100%);
        }
    }

    .texto-nosotros blockquote {
        color: $blanco;
    }

    .formulario {
        input::after([type="number"]),

        p {
            color: $gris;
        }

        label,
        legend,
        p {
            color: $blanco;
        }

        .platillos__cantidad {
            label {
                color: $negro;
            }
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    .resumen__pedido {
        #formularioCuenta {
            background-color: $blanco;
            border-radius: .5rem;

            p {
                font-size: 2rem;
                font-weight: $bold;
                text-align: center;
                
                color: $negro;
            }

            button {
                background-color: $verde;
                border-radius: .5rem;
                margin-top: 2.5rem;
                padding: 1rem 3rem;
                color: $blanco;
            }
        }
    }


    .resumen {
        p {
            color: $negro;
        }
    }

    .estadisticas {
        background-color: darken($grisOscuro, 10);
    }

    .metricas {
        .card {
            p {
                color: $blanco;
                background-color: $grisOscuro;
                font-weight: $bold;

            }
        }
    }


    .config-panel{
        background-color: $grisOscuro;
        .config-list{
            background-color: darken($grisOscuro,10%);

            p{
                color: $negro;
            }
        }
    }
}