/** Media Queries **/
@mixin telefono {
    @media (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin telefono-1 {
    @media (min-width: #{$telefono-1}) {
        @content;
    }
}

@mixin tablet-1 {
    @media (min-width: #{tablet-1}) {
        @content;
    }
}

@mixin laptop-1 {
    @media (min-width: #{$laptop-1}) {
        @content;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor, $display) {
    background-color: $bgColor;
    color: $blanco;
    font-weight: $bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    display: $display;
    border: none;
    border-radius: 0.75rem;

    &:hover{
        background-color: darken($bgColor, 5);
        cursor: pointer;
    }
}

@mixin fondo-radial($color-base) {
    background-color: $color-base;
    background-image:
        radial-gradient(at 0% 18%, lighten($color-base, 20%) 0px, transparent 50%),
        radial-gradient(at 28% 75%, $color-base 0px, transparent 50%),
        radial-gradient(at 0% 47%, lighten($color-base, 20%) 0px, transparent 50%),
        radial-gradient(at 74% 27%, $color-base 0px, transparent 50%),
        radial-gradient(at 70% 71%, lighten($color-base, 20%) 0px, transparent 50%),
        radial-gradient(at 30% 64%, $color-base 0px, transparent 50%);
    background-size: cover; // Ajusta si quieres modificar cómo se escala
}
