.seccion-1 {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);


    .h1 {
        margin: 2rem 0;
    }
}

.contenedor-1 {
    width: 95%;
    margin: 0 auto;


}

.contenedor-anuncios-1 {
    display: grid;
    gap: 2rem;
}

@include telefono-1 {
    .contenedor-anuncios-1 {
        @include grid(1, 2rem);
        
    }
    .contenedor-1{
        width: 70%
    }
}

@include tablet {
    .contenedor-anuncios-1 {
        @include grid(3, 2rem);
        

    }

}

@include desktop {
    .contenedor-anuncios-1 {
        @include grid(6, 2rem);
    }
    .contenedor-1{
        width: 95%
    }
}


.enlace-anuncio {

    .anuncio-1 {
        //background-color: transparent;
        //  background-color: rgba(0, 0, 0, 0.5)
        //  border: 1px solid darken($gris, 10);
        margin-bottom: 2rem;
        //   border: 1px solid darken($gris,10);
        margin-bottom: 3rem;
        //border-radius: 2rem;
        padding: 2rem 2rem;
        //padding: 2rem;
        border-radius: 1rem;

        & {
            background-color: hsla(212, 14%, 42%, 0.48);
            background-image:
                radial-gradient(at 53% 54%, hsla(186, 7%, 36%, 1) 0px, transparent 50%),
                radial-gradient(at 83% 61%, hsla(231, 14%, 81%, 1) 0px, transparent 50%),
                radial-gradient(at 52% 19%, hsla(205, 0%, 76%, 1) 0px, transparent 50%)
        }

        // &:hover {
        //     background-color: darken($gris, 10%);

        // }
        // &:hover {
            background-color: hsla(212, 14%, 20%, 0.85);
        // }

        &:hover {
            background-color: hsla(212, 14%, 20%, 0.85);
        }

        img {
            background-color: transparent;
            max-height: 15rem;

            //   max-width: 20rem;
        }

        .contenido-anuncio-1 {
            padding: 4rem 1.8rem 2rem 1.8rem;

            p {
                font-weight: $regular;
                font-size: 1.5rem;
                margin-top: 1.5rem;
                padding: 0;
                text-align: center;
                text-decoration: none;
            }

            .boton-menucito {
                @include boton(transparent, block);
                font-weight: $regular;
                padding: 0 0;
                margin-top: 1.5rem;
            }

        }

        h3 {
            font-size: 1.5rem;
        }

        h3,
        p {
            margin: 0;
            color: white;
            font-weight: $bold;

        }

    }

    display: block;
    text-decoration: none;
    color: inherit;

}

.enlace-anuncio:hover .anuncio-1 {
    background-color: darken(#cccccc, 10%);
    /* Efecto hover para todo el contenedor */
    transition: background-color 0.3s ease;
}


.imagenmetricas {
    width: auto;
    height: 48px;
    margin: 0 auto;
}