.contenedor-11 {
    width: 95%;
    max-width: 80rem;
    margin: 0 auto;

    h1 {
        margin: 0 0;
        font-size: 3rem;
        font-weight: $regular;
    }
}

.seccion-11 {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}

.contenido-centrado-11 {
    max-width: 90%;
}

.grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    height: 80vh;
    width: 98%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-item {
    grid-template-rows: 1fr 10fr 2fr 2fr;
    grid-template-columns: 24fr 10fr;
}

.rectangulo-grande {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    display: grid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);


    .rectangulo-grande-bebe1 {
        grid-row: 1;
        grid-column: 1;
        background-color: #fff;
        width: 100%;
        height: 100%;
        margin-top: 2rem;
        margin-left: 2rem;

        h3 {
            margin: 5px 0 0 0;
            padding: 0;
            font-size: 1.7rem;

        }

    }

    .rectangulo-grande-bebe2 {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
        height: 100%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: first baseline;
        justify-content: center;

        margin-top: 0;
        padding-top: 0;
        // flex-grow: 1;
        margin-left: 2rem;
        /* Habilitar scroll horizontal si la tabla es demasiado ancha */
        overflow-x: auto;
        background-color: #fff;



        .tablamg {
            align-items: center;
            width: 90%;
            justify-content: center;



            .ordenes {
                width: 100%;
                border-collapse: collapse;
                table-layout: auto;
                font-size: 1.2rem;

                td {
                    padding: 5px 1px 8px 1px;
                    text-align: left;
                    border: solid 1px #ccd1ff;
                }

                th {
                    padding: 5px 1px;
                    text-align: left;
                    font-weight: bold;
                    color: black;
                    background: linear-gradient(to right, #d9f4e1, #f4f4f4);
                    border: solid 1px #ccd1ff;
                }

                tbody tr:nth-child(even) {
                    background-color: #fbfcff;
                    cursor: pointer;

                }

                tbody tr:hover {
                    background-color: #f6f7ff;
                }

                img {
                    max-width: 4rem;
                    max-height: 4rem;
                }

                .botoneditar-cantidad {
                    background-color: #1b31ff;
                    color: #fff;
                    padding: 2px;
                    border-radius: 5px;
                    display: block;
                    font-weight: bold;
                    text-align: center;
                }

                .botoneditar-cantidad:hover {
                    cursor: pointer;
                    background-color: #fff;
                    border: solid 1px #1b31ff;
                    color: #1b31ff;

                }

                .botoneliminar-producto {
                    background-color: #ff1e1e;
                    color: #fff;
                    padding: 2px;
                    border-radius: 5px;
                    display: block;
                    font-weight: bold;
                    text-align: center;


                }

                .botoneliminar-producto:hover {
                    cursor: pointer;
                    border: solid 1px #ff1e1e;
                    background-color: #fff;
                    color: #ff1e1e;

                }


            }
        }

    }

    .rectangulo-grande-bebe3 {
        grid-row: 3;
        grid-column: 1/3;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        padding: 1rem;


        .rectangulo-grande-bebecito1 {
            grid-row: 1;
            grid-column: 1 / 3;
            display: flex;
            justify-content: space-around;
            align-items: center;


            .boton-azul-block {
                width: 40%;
                // height: 5rem;
                margin: 0 0 0 0;
                text-align: center;
                @include fondo-radial(#b58807);
                border-radius: 1.2rem;
                font-size: 1.5rem;
                padding: 0.5rem 1rem;
                min-height: 3.5rem;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);


                &:hover {
                    background-color: #f4f4f4;
                    cursor: pointer;
                    background-image: none;
                    border: solid 1px #b58807;
                    color: #b58807;

                    // border: solid 1px $amarillo;
                    // background-color: #f4f4f4;
                }
            }
        }

        .rectangulo-grande-bebecito2 {
            grid-row: 2;
            grid-column: 1 / 3;
            display: flex;
            justify-content: center;

            img {
                height: 1.7rem;
                width: 1.7rem;
            }

            .boton-rojo-block {
                display: ruby;
                width: auto;
                max-width: 30rem;
                min-width: 17rem;
                height: 3rem;
                margin: 0.4rem 0 0 0;
                text-align: center;
                font-size: 1.5rem;
                min-height: 3.5rem;
                padding: 0 0 0 0;
                background-color: red;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

                // @include fondo-radial($rojo);
                border-radius: 1.2rem;

                &:hover {
                    color: red;
                    background-color: #f4f4f4;
                    cursor: pointer;
                    border: solid 1px red;
                }

            }
        }

    }

    .rectangulo-grande-bebe4 {
        grid-row: 4;
        grid-column: 1/3;
        display: flex;
        align-items: center;
        justify-content: center;



        .alertas {
            width: 80%;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 1rem;
            margin-bottom: 1rem;

            p {
                font-size: 1.6rem;
                font-weight: bold;
                text-align: center;

            }

            .color-verde {
                color: #0a960a;
            }

            .color-rojo {
                color: #ff0707;
            }

            .color-negro {
                color: black;
            }
        }

    }

    .rectangulo-grande-bebe5 {
        grid-row: 1/3;
        grid-column: 2;
        // background-color: #d9f4e1;
        background-color: #0222b1;

        height: 100%;
        width: 100%;
        border: solid 1px #caf7d8;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-rows: 4fr 1fr;
        font-size: 9px;
        overflow-x: auto;
        color: #fff;


        .tabla-ticket {
            grid-row: 1;
            margin: 5px 20px;
            background-color: #0222b1;

            .ticket {
                table-layout: auto;
                border-collapse: collapse;

                td,
                th {
                    padding: 0;
                    margin: 0;
                }

                td {
                    padding: 3px;
                }

                th {
                    text-align: left;
                    border-bottom: dotted 2px rgb(255, 255, 255);
                    border-top: dotted 2px rgb(255, 255, 255);
                }

                tbody tr:nth-child(even) {
                    background-color: rgb(2, 28, 143);

                }
            }
        }

        .total-ticket {
            grid-row: 2;
            border-top: dotted 2px rgb(255, 255, 255);

            display: flex;
            justify-content: end;
            align-items: center;
            margin: 0 15px;

            p {
                color: #fff;
            }
        }
    }

    h2 {
        color: $negro;

    }

    h3 {
        font-size: 2rem;
        font-weight: $bold;
    }

}

.rectangulo-pequeno {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    // margin: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);


    h3 {
        font-size: 1rem;
        font-weight: $bold;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    .rectangulo-pequeno-bebe1 {
        margin-left: 1rem;
        grid-row: 1;
        grid-column: 1;
        height: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-top-left-radius: 1rem;
        margin-top: 2rem;


        img {
            max-height: 13rem;
            max-width: 13rem;
            background-color: $azul;
            // margin: 0.9rem 0 0 6rem;

        }
    }

    .rectangulo-pequeno-bebe2 {
        grid-row: 1;
        margin-right: 1rem;
        /* Ocupa las dos filas */
        grid-column: 2;
        margin-top: 2rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        grid-template-rows: auto auto;
        background-color: #fff;
        height: 100%;
        padding-top: 1rem;
        padding-right: 1rem;

        display: grid;
        grid-template-rows: 1fr 3fr;

        .rectangulo-pequeno-bebecito21 {
            grid-row: 1;

            h3 {
                font-size: 1.6rem;
                font-weight: $bold;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
        }

        .rectangulo-pequeno-bebecito22 {
            grid-row: 2;

            h3 {
                font-size: 2rem;
                font-weight: $bold;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
        }
    }

    .rectangulo-pequeno-bebe3 {
        grid-row: 2;
        /* Ocupa las dos filas */
        grid-column: 1;
        display: grid;
        background-color: #fff;
        grid-template-rows: 1fr 2fr;
        margin-left: 1rem;
        height: 100%;
        margin-bottom: 2rem;
        border-bottom-left-radius: 1rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        padding-left: 1rem;

        .rectangulo-pequeno-bebecito31 {
            grid-row: 1;

            h3 {
                font-size: 1.4rem;
                font-weight: $bold;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
        }


        .rectangulo-pequeno-bebecito32 {
            grid-row: 2;



            img {
                max-width: 17rem;
                max-height: 17rem;
            }

            h3 {
                font-size: 1.4rem;
                font-weight: $bold;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
            }
        }
    }


    .rectangulo-pequeno-bebe4 {
        grid-row: 2;
        grid-column: 2;
        display: grid;
        margin-right: 1rem;
        grid-template-rows: 2fr 3fr;
        background-color: #fff;
        height: 100%;
        padding-top: 1rem;
        margin-bottom: 2rem;
        border-bottom-right-radius: 1rem;

        .rectangulo-pequeno-bebecito41 {
            grid-row: 1;
            display: inline-block;
            justify-content: center;
            align-items: center;
            // flex-direction: column;
            padding: 0;
            margin: 0;
            p{
                font-size: 1.9rem;
                padding: 0;
                margin: 0;
                text-align: center;
                font-weight: bold;
            }

           

                h3 {
                    font-size: 1.3rem;
                    font-weight: $bold;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                }
            
        }

        .rectangulo-pequeno-bebecito42 {
            grid-row: 2;
            margin: 0;
            padding: 0;
            

            p{
                padding: 0;
                margin: 0;
                font-size: 2.4rem;
                text-align: center;
                font-weight: bold;
            }

            

            h3 {
                font-size: 1.3rem;
                font-weight: $bold;
                margin: 0;
                padding: 0;
                text-align: center;
            }
        }
    }

}

.rectangulo-grande-horizontal {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #d9f4e1;
    border: 1px solid #ccc;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 1.2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    margin-bottom: 0;


    h3 {
        font-weight: $bold;
        margin: 0;
        padding: 0;
    }

    .rectangulo-grande-horizontal-bebe1 {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        margin: 0;
        padding: 0;

        align-items: center;
        justify-content: right;

        h3 {
            font-size: 1.7rem;
            font-weight: $bold;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    .rectangulo-grande-horizontal-bebe2 {
        grid-row: 1;
        grid-column: 2/5;
        margin: 0;
        padding: 0;

        h3 {
            font-size: 3.7rem;
            font-weight: $bold;
            margin: 0;
            padding: 0;
        }
    }

    .rectangulo-grande-horizontal-bebe3 {
        grid-row: 2;
        grid-column: 1/4;
        padding: 0;
        display: flex;
        justify-content: center;

        .boton-azul-block {
            width: auto;
            width: 90%;
            height: 5.8rem;
            margin: 0 0 6px 0;
            text-align: center;
            @include fondo-radial(rgb(0, 81, 255));
            border-radius: 1.2rem;
            font-size: 3rem;
            padding: 0;
            display: ruby;

            &:hover {
                background-color: darken($azul, 26);
                cursor: pointer;
                border: solid 2px #FFEA00;

                span {
                    color: #FFEA00;
                }
            }

            span {
                color: $amarillo;
            }

        }

    }

    .rectangulo-grande-horizontal-bebe4 {
        grid-row: 2;
        grid-column: 4;
        margin: 0;
        padding-right: 8px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 1rem;
        }
    }
}

.rectangulo-pequeno-1 {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 1rem;
    height: 22px;
    border-radius: 1rem;
}

.fecha {
    grid-column: 1;
    display: flex;
    align-items: center;
}

.fecha p {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 0 5rem;
}

.hora {
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;

    img {
        max-width: 15px;
        max-height: 15px;
        background-color: transparent;
    }

    p {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0 5rem 0 0;

    }
}

//animacionverde
.rectangulo-pequeno-1 {
    position: relative;
    /* Para contener el pseudo-elemento */
    overflow: hidden;
    /* Asegura que el pseudo-elemento no sobresalga */
    background-color: #fff;
    border: solid 1px rgb(0, 255, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 5px;
}

.rectangulo-pequeno-1::before {
    content: "";
    /* Pseudo-elemento para el fondo animado */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    /* Comienza invisible */
    background-color: rgba(0, 255, 0, 0.9);
    z-index: 0;
    animation: carga-verde 2s linear infinite;
}

@keyframes carga-verde {
    0% {
        width: 0;
        /* Comienza sin mostrar */
    }

    100% {
        width: 100%;
        /* Llena el ancho completo */
    }
}

.fecha,
.hora {
    position: relative;

}


.modal,
.modal--manual,
.modal--nombre,
.modal--granel,
.modal--cantidad {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;

    &--show {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .6s;
        --transform: translateY(0);
        --transition: transform .8s .8s;
    }

    &__container {
        margin: auto;
        width: 90%;
        max-width: 500px;
        max-height: 60%;
        background-color: #fff;
        border-radius: 6px;
        padding: 1rem 2.5rem 1rem 2.5rem;
        display: grid;
        gap: 1rem;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition: var(--transition);
    }

    &__title {
        font-size: 2.6rem;
        margin: 0;
        font-weight: 400;
    }

    &__paragraph {
        margin-bottom: 8px;
        margin-top: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;

    }

    &__img {
        width: 90%;
        max-width: 180px;
    }

    &__close {
        text-decoration: none;
        color: #fff;
        background-color: #0c21dd;
        padding: 1rem 3rem;
        border: 1px solid;
        border-radius: 6px;
        display: inline-block;
        font-weight: bold;
        transition: background-color .3s;
        cursor: pointer;
        margin-bottom: 1rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    &__close:hover {
        color: #0c21dd;
        background-color: #fff;
        border: 2px solid;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
}

.modal--manual,
.modal--nombre {
    &__img {
        margin-top: 1rem;
        width: 90%;
        max-width: 60px;
    }

    &__close {
        color: $negro;
    }

    input {

        display: flex;
        justify-content: center;
    }

    input::placeholder {
        color: $blanco;
        font-size: small;

    }

    input::placeholder:hover {
        color: $negro;

    }

}

.modal--granel,
.modal--cantidad,
.modal--nombre,
.modal--manual {
    &__gridcantidad {
        display: grid;
        gap: 3rem;
        max-height: 3rem;
        grid-template-columns: 5fr 1fr;
        margin: 0;
        padding: 0;

    }

    &__gridprecio {
        display: grid;
        gap: 4.5rem;
        grid-template-columns: 1fr 3fr;
        margin: 0;
        margin-bottom: 0;
        padding: 0;

    }


    &__cantidad {
        grid-column: 1;
        display: flow-root;
        align-items: center;




    }

    &__precio {
        grid-column: 2;

        h2 {
            font-size: 4rem;
            font-weight: bold;
            display: unset;
            text-align: center;
            margin-bottom: 1rem;

        }

    }

    &__gramos {
        grid-column: 2;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        p {
            font-size: 3rem;
            text-align: center;
            display: contents;
        }


    }

    &__titulo {
        grid-column: 1;

        h2 {
            font-size: large;
            font-weight: normal;
            display: flex;
        }

    }


    &__img {
        margin-top: 0.8rem;

    }

    input {

        display: flex;
        justify-content: center;
    }

    input::placeholder {
        color: $blanco;
        font-size: small;

    }

    input::placeholder:hover {
        color: $negro;

    }


}

.modal--cantidad,
.modal--granel,
.modal--nombre,
.modal--manual {
    &__fleximg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__fleximg1 {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding-top: 4px;


    }

    &__fleximg2 {
        position: absolute;
        top: 3px;
        right: 0;
        transition: background-color .3s;
        cursor: pointer;
        filter: invert(1) brightness(60%) grayscale(100%);
    }

    &__fleximg2:hover {
        filter: none;
    }

    &__img1 {
        // margin-top: 1rem;
        max-width: 20px;
    }

    &__img2 {
        // margin-top: 1rem;
        // width: 90%;
        max-width: 35px;
        max-height: 35px;
        cursor: pointer;
    }

    &__precio {
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;


        h2 {
            font-size: 4rem;
            font-weight: bold;
            display: unset;
            text-align: center;
            margin-top: 0;

        }

    }

    &__gridprecio {
        display: grid;
        gap: 4.5rem;
        grid-template-columns: 1fr 3fr;
        margin: 0;
        margin-bottom: 0;
        padding: 0;


    }

    &__container {
        padding: 1rem 2.5rem 1rem 2.5rem;
    }

    &__cerrar {
        text-decoration: none;
        background-color: transparent;
        padding: 0;
        border: none;
        border-radius: 0;
        transition: background-color .3s;


    }

    &__cerrar:hover {
        filter: saturate(9) hue-rotate(0deg) contrast(1.2);
    }


}


.modal--cantidad,
.modal--granel,
.modal--manual,
.modal--nombre {
    &__container {
        gap: 0;
        max-height: 100%;
    }

    &__img1 {
        height: 2.6rem;
    }

    &__title {
        font-size: 2.2rem;
    }

    &__paragraph {
        padding: 0 0 1rem 0;
    }

    &__caracteristicas {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: 1fr 1fr;
    }

    &__fila1-cantidad,
    &__fila1-nombre,
    &__fila1-descripcion,
    &__fila1-costoventa,
    &__fila1-total {
        grid-row: 1;
        margin-top: 2rem;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: left;
        height: 2.4rem;

        p {
            font-weight: bold;
            padding: 0 3px;
            font-size: 1.1rem;
            align-items: center;

        }

    }

    &__fila2-cantidad,
    &__fila2-nombre,
    &__fila2-descripcion,
    &__fila2-costoventa,
    &__fila2-total {
        grid-row: 2;
        border: solid 1px #7cf77c;
        display: flex;
        align-items: center;
        justify-content: left;
        max-height: min-content;

        p {
            font-size: 1.1rem;
            padding: 0 2px;
            margin: 0 2px;
        }
    }


    &__fila1-cantidad {
        grid-column: 1;
    }

    &__fila1-nombre {
        grid-column: 2;
    }

    &__fila1-descripcion {
        grid-column: 3;
    }

    &__fila1-costoventa {
        grid-column: 4;
    }

    &__fila1-total {
        grid-column: 5;
    }

    &__fila2-cantidad {
        grid-column: 1;
    }

    &__fila2-nombre {
        grid-column: 2;
    }

    &__fila2-descripcion {
        grid-column: 3;
    }

    &__fila2-costoventa {
        grid-column: 4;
    }

    &__fila2-total {
        grid-column: 5;
    }

    &__boton {
        display: flex;
    }

    &__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

    }

    &__btn {
        background-color: #03aa03;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 1rem;
        margin-bottom: 1.5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        font-weight: bold;

    }

    &__btn:hover {
        background-color: #fff;
        color: #03BB02;
        border: solid 1px #03aa03;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

    }

    fieldset {
        border: 2px dotted #03BB02;
        padding: 20px;
        border-radius: 8px;
        height: 15rem;
    }

    legend {
        color: #03BB02;
        font-weight: bold;
        padding: 0 10px;
    }

    input[type="number"] {
        width: 100%;
        padding: 5px;
        font-size: 16px;
        border: solid 2px #03BB02;
        background-color: #fff;
        border-radius: 1rem;
        height: 43px;
        cursor: pointer;
        color: black;


    }

    input[type="number"]::placeholder {
        color: #acaaaa;
    }

    input[type="text"]::placeholder {
        color: #acaaaa;
    }

    input[type="number"]:hover {
        background-color: #e5f7dd;
        border: solid 2px #0a960a;
        color: black;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        font-size: 1.4rem;

    }


}

.modal--manual,
.modal--nombre {
    &__tabla {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
        margin: 1rem 0;

        th {
            border: 1px solid #FFE0B2;
            padding: 3px;
            text-align: left;
            background: linear-gradient(to right, #D56B26, #E6962C);
            color: white;
            font-weight: bold;
            font-size: 1.3rem;
        }

        td {
            border: 1px solid #FFE0B2;
            padding: 1px;
            text-align: left;
            font-size: 1.2rem;
            cursor: pointer;
        }

        tbody tr:nth-child(even) {
            background-color: #FFF3E0;
        }

        tbody tr:hover {
            background-color: #F7D9A8;
        }

    }


    fieldset {
        border: 2px dotted #D56B26;
    }

    legend {
        color: #D56B26;
    }

    input[type="text"] {
        border-color: #D56B26;
        background-color: #fff;
        color: black;
    }

    input[type="text"]:hover {
        border-color: #D56B26;
        background-color: #faeee9;
        color: black;
    }





}

.modal--cantidad {

    &__fila1-cantidad,
    &__fila1-nombre,
    &__fila1-descripcion,
    &__fila1-costoventa,
    &__fila1-total {
        background: linear-gradient(to right, #03BB02, #47fa3a);
    }

}

.modal--granel {
    &__img1 {
        // margin-top: 1rem;
        max-width: 190px;
    }

    &__btn {
        background-color: #bc09cc;
        color: #fff;

    }

    &__btn:hover {
        background-color: #fff;
        color: #f808d8;
        border: solid 1px #f008f8;

    }

    &__fila1-cantidad,
    &__fila1-nombre,
    &__fila1-descripcion,
    &__fila1-costoventa,
    &__fila1-total {
        background: linear-gradient(to right, #8702a8, #db08db);

        p {
            color: #fff;
        }
    }

    &__fila2-cantidad,
    &__fila2-nombre,
    &__fila2-descripcion,
    &__fila2-costoventa,
    &__fila2-total {
        border: solid 1px #c710df;
    }

    fieldset {
        border: 2px dotted #c710df;
    }

    legend {
        color: #f808e4;
    }

    input[type="number"] {
        border: solid 2px #f808c4;
        background-color: #fff;
        color: black;

    }

    input[type="number"]:hover {
        background-color: #f8ecf7;
        border: solid 2px #7f0a96;
        color: black;
    }


}