.contenedor-11 {
    width: 95%;
    max-width: 80rem;
    margin: 0 auto;
    h1{
        margin: 0 0;
        font-size: 3rem;
        font-weight: $regular;
    }
}

.seccion-11 {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado-11 {
    max-width: 90%;
}

.grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr; /* Dividir en dos filas */
    grid-template-columns: 2fr 1fr; /* Dividir en dos columnas */
    gap: 1rem; /* Espacio entre los elementos */
    height: 80vh; /* Altura total de la pantalla */
    width: 98%; /* Ancho reducido con márgenes mínimos */
    margin: 0 auto; /* Centrado horizontal */
    box-sizing: border-box; /* Incluye paddings en el ancho */
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rectangulo-grande {
    grid-row: 1 / 3; /* Ocupa las dos filas */
    grid-column: 1 / 2; /* Primera columna */
    background-color: #f4f4f4; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}

.rectangulo-pequeno {
    background-color: #e0e0e0; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.rectangulo-grande-horizontal {
    grid-row: 2 / 3; /* Segunda fila */
    grid-column: 2 / 3; /* Segunda columna */
    background-color: #d9f4e1; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

