.config-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.35);
    z-index: 999;
}


.config-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 380px;
    height: 100%;
    background:white;
    padding:2rem;
    box-shadow:-5px 0 15px rgba(0,0,0,.2);
}


.config-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.config-item {
    margin-top:1rem;
    padding:1rem;
    border-left:4px solid orange;
    background:#fff7ed;
    display:flex;
    justify-content:space-between;
}