.no-webp .imagen-contacto {
    background-image: url('../img/supermarket.jpg');
}

.webp .imagen-contacto {
    background-image: url('../img/supermarket.webp');

}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-webp .imagen-contactoVentas {
    background-image: url('../img/graficasVentas.png');
}

.webp .imagen-contactoVentas {
    background-image: url('../img/graficasVentas.webp');

}

.imagen-contactoVentas {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.estadisticas {
    display: grid;

    @include telefono {
        grid-template-columns: repeat(1, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    justify-content: center;
    max-width: 75%;
    max-height: 60%;
    margin: 1rem 15%;

}

.ayudas {
    display: grid;

    @include telefono {
        grid-template-columns: repeat(1, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

    }

    .ayuda-estadisticas {
        margin: 0rem 2rem;

        ul {
            list-style: none;
            color: $blanco;
            text-align: center;

        }
    }

}

.metricas {
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;

    .card {

        h2 {
            font-size: 1.6rem;
            font-weight: $bold;
        }

        p {
            color: $blanco;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            border-radius: 2rem;
            background-color: $cyan;
            border: 1px solid $azul;
            font-weight: $bold;
        }
    }
}

.botonesGenerales {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.botonGeneralInventario,
.botonGeneralCaja,
.botonGeneralVentas,
.botonGeneralCancelaciones,
.botonGeneralProveedores,
.botonGeneralCategorias {
    flex: 1;
    text-align: center;
    background: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
    border-radius: 5px;
    margin: 0 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: background 0.7s ease;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

.botonGeneralInventario:hover,
.botonGeneralCaja:hover,
.botonGeneralVentas:hover,
.botonGeneralCancelaciones:hover,
.botonGeneralProveedores:hover,
.botonGeneralCategorias:hover {
    background: linear-gradient(to bottom, #fff 50%, #007bff 100%);

    a {
        color: blue;
    }
}

.botonGeneralInventario {
    background: linear-gradient(to bottom, #557DCE 0%, #557DCE 100%);
    border: solid 1px #557DCE;
}

.botonGeneralInventario:hover {
    background: linear-gradient(to bottom, #fff 50%, #557DCE 100%);
    border: none;

    a {
        color: #4261a0;
    }
}

.botonGeneralCaja {
    background: linear-gradient(to bottom, #7073CA 0%, #7073CA 100%);
    border: solid 1px #7073CA;
}

.botonGeneralCaja:hover {
    background: linear-gradient(to bottom, #fff 50%, #7073CA 100%);
    border: none;

    a {
        color: #5b5ea3;
    }
}

.botonGeneralVentas {
    background: linear-gradient(to bottom, #8868C2 0%, #8868C2 100%);
    border: solid 1px #8868C2;
}

.botonGeneralVentas:hover {
    background: linear-gradient(to bottom, #fff 50%, #8868C2 100%);
    border: none;

    a {
        color: #5e4886;
    }
}

.botonGeneralCancelaciones {
    background: linear-gradient(to bottom, #9D5BB5 0%, #9D5BB5 100%);
    border: solid 1px #9D5BB5;
}

.botonGeneralCancelaciones:hover {
    background: linear-gradient(to bottom, #fff 50%, #9D5BB5 100%);
    border: none;

    a {
        color: #6d3f7e;
    }
}

.botonGeneralProveedores {
    background: linear-gradient(to bottom, #AF4CA4 0%, #AF4CA4 100%);
    border: solid 1px #AF4CA4;
}

.botonGeneralProveedores:hover {
    background: linear-gradient(to bottom, #fff 50%, #AF4CA4 100%);
    border: none;

    a {
        color: #7c3674;
    }
}

.botonGeneralCategorias {
    background: linear-gradient(to bottom, #BD3B8F 0%, #BD3B8F 100%);
    border: solid 1px #BD3B8F;
}

.botonGeneralCategorias:hover {
    background: linear-gradient(to bottom, #fff 50%, #BD3B8F 100%);
    border: none;

    a {
        color: #a0337a;
    }
}

.filtrosVentas {
    margin: 2rem auto;
    width: 50%;


    @include telefono-1 {
        width: 70%;
    }

    @include tablet {
        width: 40%;
    }

    @include laptop-1 {
        width: 30%;
    }

    fieldset {
        border: 2px dotted #8868C2;
        padding: 20px;
        border-radius: 8px;
    }

    legend {
        color: #8868C2;
        font-weight: bold;
        padding: 0 10px;
    }
}

.flexFiltrosVentas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    justify-content: center;

    .fechaInicio {
        grid-column: 1/2;
    }

    .fechaFin {
        grid-column: 2/3;
    }

    input[type="date"] {
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        font-size: 16px;
        border-color: #8868C2;
        border-radius: 1rem;
        height: 43px;
        cursor: pointer;
    }

    select {
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        font-size: 16px;
        border-color: #8868C2;
        border-radius: 1rem;
        height: 43px;
        cursor: pointer;
    }

    label {
        font-weight: bold;
    }
}

.botonesExportarVentas {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 5px;

    a {
        padding: 5px;
        background-color: #8868C2;
        border: solid 1px #8868C2;
        color: #fff;
        border-radius: 1rem;
        font-weight: bold;

    }

    a:hover {
        background-color: #fff;
        color: #7c3674;

    }

    .moradoOsc {
        background-color: #685094;
        border: solid 1px #685094;

    }
}

.tituloIndividual {

    margin: 0 6rem;
    // font-weight: light;

    @include telefono-1 {
        margin: 0 6rem;
    }

    @include tablet {
        margin: 0 12rem;
    }

    @include laptop-1 {
        margin: 0 45rem;
    }

    p {
        text-align: center;
        font-size: medium;
        font-weight: lighter;

    }
}

// .busqueda-titulo.margin-titulo.bolderr{
//     h3{
//         font-weight: normal;
//     }
// }

.contenedorTotalesVentas {
    display: grid;
    margin: 2rem;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    @include telefono-1 {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    @include tablet {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    @include laptop-1 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    // h3,
    // p {
    //     font-size: smaller;
    //     color: #fff;
    // }

    .gridTotalVentasDinero {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .totalGrande {
            grid-column: 1/2;
            grid-row: 1/3;

            h3 {
                margin: 0;
                padding: 0;
                font-size: medium;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 4rem;
                text-align: center;
            }
        }

        .totalChico1 {
            grid-column: 2/3;
            grid-row: 1/2;

            h3 {
                margin: 0;
                padding: 0;
                font-size: medium;
                color: #fff;


            }

            p {
                color: #fff;
                font-size: larger;
                text-align: center;
            }
        }

        .totalChico2 {
            grid-column: 2/3;
            grid-row: 2/3;

            h3 {
                margin: 0;
                padding: 0;
                font-size: medium;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: larger;
                text-align: center;
            }
        }
    }

    .gridTotalVentasGanancia {
        grid-column: 2/3;
        grid-row: 1/2;

        @include telefono-1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        @include tablet {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        @include laptop-1 {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }

    .gridTotalVentasCantidad {
        grid-column: 1/2;
        grid-row: 2/3;

        @include telefono-1 {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        @include tablet {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        @include laptop-1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    .gridTotalVentasPromedio {
        grid-column: 2/3;
        grid-row: 2/3;

        @include telefono-1 {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        @include tablet {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        @include laptop-1 {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}