.no-webp .imagen-contacto {
    background-image: url('../img/supermarket.jpg');
}

.webp .imagen-contacto {
    background-image: url('../img/supermarket.webp');

}

.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-webp .imagen-contactoVentas {
    background-image: url('../img/graficasVentas.png');
}

.webp .imagen-contactoVentas {
    background-image: url('../img/graficasVentas.webp');

}

.imagen-contactoVentas {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-webp .imagen-contactoCaja {
    background-image: url('../img/graficasCaja.jpg');
}

.webp .imagen-contactoCaja {
    background-image: url('../img/graficasCaja.jpg');

}

.imagen-contactoCaja {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-webp .imagen-contactoCancelaciones {
    background-image: url('../img/graficasCancelaciones2.jpg');
}

.webp .imagen-contactoCancelaciones {
    background-image: url('../img/graficasCancelaciones2.jpg');

}

.imagen-contactoCancelaciones {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-webp .imagen-contactoProveedores {
    background-image: url('../img/graficasProveedores.jpg');
}

.webp .imagen-contactoProveedores {
    background-image: url('../img/graficasProveedores.jpg');

}

.imagen-contactoProveedores {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.no-webp .imagen-contactoCategorias {
    background-image: url('../img/graficasCategorias.jpg');
}

.webp .imagen-contactoCategorias {
    background-image: url('../img/graficasCategorias.jpg');

}

.imagen-contactoCategorias {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.estadisticas {
    display: grid;

    @include telefono {
        grid-template-columns: repeat(1, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    justify-content: center;
    max-width: 75%;
    max-height: 60%;
    margin: 1rem 15%;

}

.ayudas {
    display: grid;

    @include telefono {
        grid-template-columns: repeat(1, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

    }

    .ayuda-estadisticas {
        margin: 0rem 2rem;

        ul {
            list-style: none;
            color: $blanco;
            text-align: center;

        }
    }

}

.metricas {
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;

    .card {

        h2 {
            font-size: 1.6rem;
            font-weight: $bold;
        }

        p {
            color: $blanco;
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            border-radius: 2rem;
            background-color: $cyan;
            border: 1px solid $azul;
            font-weight: $bold;
        }
    }
}

.botonesGenerales {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;

    @include telefono-1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;

    }

    @include tablet {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 0;

    }

    @include laptop-1 {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 0;

    }
}

.botonGeneralInventario,
.botonGeneralCaja,
.botonGeneralVentas,
.botonGeneralCancelaciones,
.botonGeneralProveedores,
.botonGeneralCategorias {
    flex: 1;
    text-align: center;
    background: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
    border-radius: 5px;
    margin: 0 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: background 0.7s ease;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

.botonGeneralInventario:hover,
.botonGeneralCaja:hover,
.botonGeneralVentas:hover,
.botonGeneralCancelaciones:hover,
.botonGeneralProveedores:hover,
.botonGeneralCategorias:hover {
    background: linear-gradient(to bottom, #fff 50%, #007bff 100%);

    a {
        color: blue;
    }
}

.botonGeneralInventario {
    background: linear-gradient(to bottom, #557DCE 0%, #557DCE 100%);
    border: solid 1px #557DCE;
}

.botonGeneralInventario:hover {
    background: linear-gradient(to bottom, #fff 50%, #557DCE 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #4261a0;
    }
}

.botonGeneralInventarioHover {
    background: linear-gradient(to bottom, #fff 50%, #557DCE 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #4261a0;
    }
}

.botonGeneralCaja {
    background: linear-gradient(to bottom, #7073CA 0%, #7073CA 100%);
    border: solid 1px #7073CA;
}

.botonGeneralCaja:hover {
    background: linear-gradient(to bottom, #fff 50%, #7073CA 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #5b5ea3;
    }
}

.botonGeneralCajaHover {
    background: linear-gradient(to bottom, #fff 50%, #7073CA 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #5b5ea3;
    }
}

.botonGeneralVentas {
    background: linear-gradient(to bottom, #8868C2 0%, #8868C2 100%);
    border: solid 1px #8868C2;
}

.botonGeneralVentas:hover {
    background: linear-gradient(to bottom, #fff 50%, #8868C2 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #5e4886;
    }
}

.botonGeneralVentasHover {
    background: linear-gradient(to bottom, #fff 50%, #8868C2 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #5e4886;
    }
}

.botonGeneralCancelaciones {
    background: linear-gradient(to bottom, #9D5BB5 0%, #9D5BB5 100%);
    border: solid 1px #9D5BB5;
}

.botonGeneralCancelaciones:hover {
    background: linear-gradient(to bottom, #fff 50%, #9D5BB5 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #6d3f7e;
    }
}

.botonGeneralCancelacionesHover {
    background: linear-gradient(to bottom, #fff 50%, #9D5BB5 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #6d3f7e;
    }
}

.botonGeneralProveedores {
    background: linear-gradient(to bottom, #AF4CA4 0%, #AF4CA4 100%);
    border: solid 1px #AF4CA4;
}

.botonGeneralProveedores:hover {
    background: linear-gradient(to bottom, #fff 50%, #AF4CA4 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #7c3674;
    }
}

.botonGeneralProveedoresHover {
    background: linear-gradient(to bottom, #fff 50%, #AF4CA4 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #7c3674;
    }
}

.botonGeneralCategorias {
    background: linear-gradient(to bottom, #BD3B8F 0%, #BD3B8F 100%);
    border: solid 1px #BD3B8F;
}

.botonGeneralCategorias:hover {
    background: linear-gradient(to bottom, #fff 50%, #BD3B8F 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #a0337a;
    }
}

.botonGeneralCategoriasHover {
    background: linear-gradient(to bottom, #fff 50%, #BD3B8F 100%);
    border: none;
    transform: translateY(-5px);

    a {
        color: #a0337a;
    }
}

.filtrosVentas {
    margin: 2rem auto 4rem auto;
    width: 50%;


    @include telefono-1 {
        width: 70%;
    }

    @include tablet {
        width: 40%;
    }

    @include laptop-1 {
        width: 30%;
    }

    fieldset {
        border: 2px dotted #8868C2;
        padding: 20px;
        border-radius: 8px;
    }

    legend {
        color: #8868C2;
        font-weight: bold;
        padding: 0 10px;
    }
}

.flexFiltrosVentas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
    justify-content: center;

    .fechaInicio {
        grid-column: 1/2;
    }

    .fechaFin {
        grid-column: 2/3;
    }

    input[type="date"] {
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        font-size: 16px;
        border-color: #8868C2;
        border-radius: 1rem;
        height: 43px;
        cursor: pointer;
    }

    select {
        width: 90%;
        margin: 0 auto;
        padding: 5px;
        font-size: 16px;
        border-color: #8868C2;
        border-radius: 1rem;
        height: 43px;
        cursor: pointer;
    }

    label {
        font-weight: bold;
    }
}


.botonesExportarVentas {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 5px;

    a {
        padding: 5px;
        background-color: #8868C2;
        border: solid 1px #8868C2;
        color: #fff;
        border-radius: 1rem;
        font-weight: bold;

    }

    a:hover {
        background-color: #fff;
        color: #7c3674;

    }

    .moradoOsc {
        background-color: #685094;
        border: solid 1px #685094;

    }
}

.tituloIndividual {

    margin: 0 6rem;

    @include telefono-1 {
        margin: 0 6rem;
    }

    @include tablet {
        margin: 0 12rem;
    }

    @include laptop-1 {
        margin: 0 45rem;
    }

    p {
        text-align: center;
        font-size: medium;
        font-weight: lighter;
    }
}

.contenedorTotalesVentas {
    display: grid;
    margin: 4rem 2rem;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    @include telefono-1 {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    @include tablet {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    @include laptop-1 {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .gridTotalVentasDinero,
    .gridTotalVentasGanancia {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 1rem;

        .totalGrande {
            grid-column: 1/2;
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: medium;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 4.2rem;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: bold;

            }
        }

        .totalChico1 {
            grid-column: 2/3;
            grid-row: 1/2;
            // margin-bottom: 2rem;

            h3 {
                margin: 0;
                padding: 5px 0;
                font-size: medium;
                color: #fff;
                font-weight: bold;

            }

            p {
                color: #fff;
                font-size: larger;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: bold;
                background-color: rgba(136, 104, 194, 0.5);
                padding: 5px;
                border-radius: 1rem;
            }
        }

        .totalChico2 {
            grid-column: 2/3;
            grid-row: 2/3;

            h3 {
                margin: 0;
                padding: 5px 0;
                font-size: medium;
                color: #fff;
                font-weight: bold;

            }

            p {
                color: #fff;
                font-size: larger;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: bold;
                background-color: rgba(136, 104, 194, 0.5);
                padding: 5px;
                border-radius: 1rem;

            }
        }
    }

    .gridTotalVentasGanancia {
        grid-column: 2/3;
        grid-row: 1/2;

        @include telefono-1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        @include tablet {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        @include laptop-1 {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }

    .gridTotalVentasCantidad {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 2rem;

        @include telefono-1 {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        @include tablet {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        @include laptop-1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .cantidadTotal {
            p {
                text-align: center;
                color: #fff;
                font-size: medium;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
        }

        .cantidadTotalGrande,
        .cantidadTotalChico1 {
            p {
                text-align: center;
                color: #fff;
                font-size: medium;
                font-weight: bold;
                background-color: rgba(136, 104, 194, 0.5);
                padding: 5px;
                font-size: larger;
                border-radius: 1rem;
            }

            h3 {
                text-align: center;
                color: #fff;
                font-size: medium;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }
        }
    }

    .gridTotalVentasPromedio {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include telefono-1 {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        @include tablet {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        @include laptop-1 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        p,
        h3 {
            text-align: center;
            color: #fff;
        }

        h3 {
            font-size: large;
            font-weight: bold;
            padding: 0;
            margin: 0;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: 6rem;
        }
    }
}

.gridCantidades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;

    .cantidadTotalGrande {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .cantidadTotalChico1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

.graficaGananciasVentas {
    margin: 1rem auto;
    width: 60%;

    @include telefono-1 {
        width: 60%;
    }

    @include tablet {
        width: 50%;
    }

    @include laptop-1 {
        width: 35%;
    }
}

.flextitulo-icono {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgayuda {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.imgayuda:hover {
    filter: brightness(0.6);
}

.filtrosVentas.filtrosInventario {

    fieldset {
        border: 2px dotted #557DCE;
    }

    legend {
        color: #557DCE;
    }
}

.filtrosVentas.filtrosCaja {
    fieldset {
        border: 2px dotted #7073CA;
    }

    legend {
        color: #7073CA;
    }
}

.filtrosVentas.filtrosCancelaciones {
    fieldset {
        border: 2px dotted #9D5BB5;
    }

    legend {
        color: #9D5BB5;
    }
}

.filtrosVentas.filtrosProveedores {
    fieldset {
        border: 2px dotted #AF4CA4;
    }

    legend {
        color: #AF4CA4;
    }
}

.filtrosVentas.filtrosCategorias {
    fieldset {
        border: 2px dotted #BD3B8F;
    }

    legend {
        color: #BD3B8F;
    }
}

.flexFiltrosVentas.flexFiltrosInventario {

    input[type="date"] {
        border-color: #557DCE;

    }

    select {
        border-color: #557DCE;

    }

}

.flexFiltrosVentas.flexFiltrosCaja {
    input[type="date"] {
        border-color: #7073CA;

    }
}

.flexFiltrosVentas.flexFiltrosCancelaciones {
    input[type="date"] {
        border-color: #9D5BB5;

    }

}

.flexFiltrosVentas.flexFiltrosProveedores {
    input[type="date"] {
        border-color: #AF4CA4;

    }
}

.flexFiltrosVentas.flexFiltrosCategorias {
    input[type="date"] {
        border-color: #BD3B8F;

    }

    select {
        border-color: #BD3B8F;

    }

}

.botonesExportarVentas.botonesExportarInventario {
    a {
        background-color: #557DCE;
        border: solid 1px #557DCE;
    }

    a:hover {
        color: #354f81;
        background-color: #fff;
    }

    .moradoOsc {
        background-color: #3a568d;
        border: solid 1px #3a568d;
    }
}

.botonesExportarVentas.botonesExportarCaja {
    a {
        background-color: #7073CA;
        border: solid 1px #7073CA;
    }

    a:hover {
        color: #354f81;
        background-color: #fff;

    }

    .moradoOsc {
        background-color: #3a568d;
        border: solid 1px #3a568d;
    }
}

.botonesExportarVentas.botonesExportarCancelaciones {
    a {
        background-color: #9D5BB5;
        border: solid 1px #9D5BB5;
    }

    a:hover {
        color: #9D5BB5;
        background-color: #fff;

    }

    .moradoOsc {
        background-color: #744386;
        border: solid 1px #744386;
    }
}

.botonesExportarVentas.botonesExportarProveedores {
    a {
        background-color: #AF4CA4;
        border: solid 1px #AF4CA4;
    }

    a:hover {
        color: #AF4CA4;
        background-color: #fff;

    }

    .moradoOsc {
        background-color: #8d3d84;
        border: solid 1px #8d3d84;
    }
}

.botonesExportarVentas.botonesExportarCategorias {
    a {
        background-color: #BD3B8F;
        border: solid 1px #BD3B8F;
    }

    a:hover {
        color: #BD3B8F;
        background-color: #fff;

    }

    .moradoOsc {
        background-color: #9b3176;
        border: solid 1px #9b3176;
    }
}

.contenedorTotalesInventario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;


    @include telefono-1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

    }

    @include tablet {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;

    }

    @include laptop-1 {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 2rem;

    }

    .gridIzquierdoTotalesInventario {
        .inventarioCantidadTotal {
            p {
                text-align: center;
                color: #fff;
                font-size: medium;
                font-weight: bold;
                margin: 0;
                padding: 0;
            }
        }

        .cantidadTotalProductosInventarioUnitario,
        .cantidadTotalProductosInventarioUnitario1 {
            p {
                text-align: center;
                color: #fff;
                font-size: medium;
                font-weight: bold;
                background-color: rgba(85, 125, 206, 0.5);
                padding: 5px;
                font-size: larger;
                border-radius: 1rem;
            }

            h3 {
                text-align: center;
                color: #fff;
                font-size: medium;
                font-weight: bold;
                padding: 0;
                margin: 0;
            }
        }

    }

    .gridDerechoTotalesInventario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 1rem;

        .totalGrandeInventario {

            grid-column: 1/2;
            grid-row: 1/3;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h3 {
                margin: 0;
                padding: 0;
                font-weight: bold;
                font-size: medium;
                color: #fff;
            }

            p {
                color: #fff;
                font-size: 4.2rem;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: bold;

            }
        }

        .totalChico1Inventario {

            grid-column: 2/3;
            grid-row: 1/2;
            // margin-bottom: 2rem;

            h3 {
                margin: 0;
                padding: 5px 0;
                font-size: medium;
                color: #fff;
                font-weight: bold;

            }

            p {
                color: #fff;
                font-size: larger;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: bold;
                background-color: rgba(85, 125, 206, 0.5);
                padding: 5px;
                border-radius: 1rem;
            }
        }


        .totalChico2Inventario {

            grid-column: 2/3;
            grid-row: 2/3;

            h3 {
                margin: 0;
                padding: 5px 0;
                font-size: medium;
                color: #fff;
                font-weight: bold;

            }

            p {
                color: #fff;
                font-size: larger;
                text-align: center;
                margin: 0;
                padding: 0;
                font-weight: bold;
                background-color: rgba(85, 125, 206, 0.5);
                padding: 5px;
                border-radius: 1rem;

            }
        }
    }
}

.contenedorTotalesCaja {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 3rem 2rem;

    @include telefono-1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;

    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    @include laptop-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem;
        margin: 4rem 2rem;


    }

    .contenedorAbonos,
    .contenedorRetiros,
    .contenedorAbonosDinero,
    .contenedorRetirosDineros {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(112, 115, 202, 0.5);
        border-radius: 1rem;
        padding: 2rem 3rem;

        h3,
        p {
            color: #fff;
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: large;
            font-weight: bold;
        }

        p {
            font-size: 5rem;
        }
    }



}

.contenedorAbonosDinero.contenedorAbonosDineroNuevo {
    background-color: rgba(94, 96, 168, 0.5);

    h3 {
        font-size: large;
    }

    p {
        font-size: 3.1rem;
    }
}

.contenedorRetirosDineros.contenedorRetirosDinerosNuevo {
    h3 {
        font-size: large;
    }

    p {
        font-size: 3.1rem;
    }
}

.contenedorCancelaciones {
    .totalChico1.totalChico1Cancelaciones {
        p {
            background-color: rgba(2, 2, 2, 0.5);
        }

    }

    .totalChico2.totalChico2Cancelaciones {

        p {
            background-color: rgba(2, 2, 2, 0.5);

        }
    }

    .cantidadTotalGrande.cantidadTotalGrandeCancelaciones,
    .cantidadTotalChico1.cantidadTotalChico1Cancelaciones {
        p {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

}

.gridTotalesProveedores {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin: 4rem 2rem;

    @include telefono-1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @include laptop-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    h3,
    p {
        color: #ffffff;
        margin: 0;
        padding: 0;
        font-weight: bold;
        text-align: center;

    }

    h3 {
        font-size: medium;
        text-transform: uppercase;
    }


    .gridTotaleProveedor1 {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;

        p {
            font-size: 2.5rem;
        }

        .flexCantidadPromedio,
        .flexCantidadPromedioGranel {
            display: flex;
            flex-direction: column;
            background-color: rgba(20, 18, 20, 0.5);
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }
    }

    .gridTotaleProveedor2,
    .gridTotaleProveedor3,
    .gridTotaleProveedor4,
    .gridTotaleProveedor5,
    .gridTotaleProveedor6 {

        p {
            font-size: 4rem;

        }

        background-color: rgba(31, 30, 31, 0.5);
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);


    }

}

.gridContenidoImagenCategorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin: 9rem 2rem 6rem 2rem;

    @include telefono-1 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @include laptop-1 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    h3,p{
        color: #ffffff;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    h3{
        font-size: medium;
        text-transform: uppercase;
        font-weight: bold;
    }
    p{
        background-color: rgba($color: #BD3B8F, $alpha: 0.7);
        border-radius: 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    }

    .contenidoImagenCategorias1 {
        grid-column: 1/2;

        @include telefono-1 {
            grid-column: 1/2;
        }

        @include tablet {
            grid-column: 1/3;
        }

        @include laptop-1 {
            grid-column: 1/3;
        }
    }
}