.footer{
    padding: 0;
    background-color: $grisOscuro;
    margin: 0;
    
    .contenedor-footer{
        padding-top: 3rem;
    }

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .copyright{
        color: $blanco;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.adicionalcanuncios{
    margin-bottom: 100px;
}