.no-webp .inicio{
    background-image: url('../img/header.jpg');
}

.webp .inicio {
    // background-image: url(../img/header.webp);
    background-image: url('../img/header.webp');    

}
.header{
    background-color: $grisOscuro;
    padding: 0 0 1.5rem 0; 

    &.inicio{
        background-position: center center;
        background-size: cover;

        @include tablet{
            min-height: 110rem;
        }

        @include desktop{
            min-height: 70rem;
        }
         
        


        .contenido-header{

            @include tablet{
                min-height: 110rem;
            }   

            @include desktop{
                min-height: 70rem;
            }  
            
        }
        
    }

}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h1{
        text-align: center;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        margin: 1.5rem 0 0 0;
     //   max-width: 60rem;
    }

}

.enlace-anuncio {
    transition: transform 0.3s ease;
}

.enlace-anuncio:hover {
    transform: scale(1.05);
}

// .adicionalcontenido-anuncio{
//     h3{
//         font-size: 10px;
//     }
// }