.no-webp .imagen-slider {
    background-image: url('../img/slider.jpg');
}

.webp .imagen-slider {
    background-image: url('../img/slider.webp');

}

.proveedores-titulo {

    h3 {
        font-size: 2.4rem;
        padding: 0 15rem;
        margin-bottom: 8rem;
    }
}



.imagen-slider {
    background-position: center center;
    background-size: cover;
    padding: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 5px black(29, 26, 184, 0.5);



    h2 {
        font-size: 4rem;
        padding: 0;
        margin-bottom: 0;
        margin-top: 1rem;
        font-weight: $black;
        color: #fff;

    }

    p {
        font-size: 1.9rem;
        color: $blanco;
        padding: 0;
        margin-top: 0;
        margin-bottom: 4rem;
        text-align: center;
        //font-weight: $black;
        color: #fff;

    }
}

.slider-puntos {
    text-align: center;
    margin-top: 1rem;
}

.slider-puntos .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-puntos .dot.active {
    background-color: rgb(0, 89, 255);
}

.botonslider,
.botonslider1,
.botonslider2,
.botonslider3 {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem 4rem;
    border: 1px solid blue;
    border-radius: 10px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    min-width: 30%;
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    span {
        position: relative;
        z-index: 0;
        text-decoration: none;
        color: #fff;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
}

.botonslider1::before,
.botonslider2::before,
.botonslider3::before,
.botonslider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 0;

}

.botonslider:hover::before,
.botonslider1:hover::before,
.botonslider2:hover::before,
.botonslider3:hover::before {
    width: 200%;
    height: 200%;
}

.botonslider {
    border: 1px solid blue;
    background-color: blue;
}

.botonslider1 {
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
}

.botonslider2 {
    background-color: rgb(0, 89, 255);
    border: 1px solid rgb(0, 89, 255);

}

.botonslider3 {
    background-color: blue;
    border: 1px solid blue;

}

.botonslider:hover {

    span {
        color: blue;
    }
}

.botonslider1:hover {

    span {
        color: rgb(0, 153, 255);
    }
}

.botonslider2:hover {
    span {
        color: rgb(0, 89, 255);
    }
}

.botonslider3:hover {
    span {
        color: blue;
    }
}

.botones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.botonslider.color1 {
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
}

.botonslider.color2 {
    border: 1px solid rgb(0, 89, 255);
    background-color: rgb(0, 89, 255);
}

.botonslider.color3 {
    border: 1px solid blue;
    background-color: blue;
}

.botonslider.color1:hover {
    span {
        color: rgb(0, 153, 255);
    }
}

.botonslider.color2:hover {
    span {
        color: rgb(0, 89, 255);
    }
}

.botonslider.color3:hover {
    span {
        color: blue;
    }
}

.busqueda-filtrosinventario,
.busqueda-filtrosventas,
.busqueda-filtroscancelaciones {
    width: 40%;
    margin: 20px auto;
    display: flex;
    justify-content: center;

    fieldset {
        border: 2px dotted rgb(0, 89, 255);
        padding: 20px;
        border-radius: 8px;
    }

    legend {
        color: rgb(0, 89, 255);
        font-weight: bold;
        padding: 0 10px;
    }


    .caja-filtrosinventario,
    .caja-filtrosventas,
    .caja-filtroscancelaciones {
        display: grid;
        grid-gap: 20px;
        width: 100%;

        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;


        }

        p {
            font-weight: bold;
            margin-bottom: 5px;
            margin-top: 0;
            display: block;
            font-size: 16px;

        }

        input[type="text"] {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border-color: rgb(0, 89, 255);
            border-radius: 1rem;
            height: 43px;
        }

        select {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border-color: rgb(0, 89, 255);
            border-radius: 1rem;
            height: 43px;
        }

        input[type="number"] {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border-color: rgb(0, 89, 255);
            border-radius: 1rem;
            height: 43px;
        }

        input[type="date"] {
            width: 100%;
            padding: 5px;
            font-size: 16px;
            border-color: rgb(0, 89, 255);
            border-radius: 1rem;
            height: 43px;
        }

        .switch {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        .switch input[type="radio"] {
            display: none;
            height: 45px;

        }

        .switch label {
            padding: 8px 15px;
            background-color: #ddd;
            border-radius: 20px;
            cursor: pointer;
            user-select: none;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }

        .switch input[type="radio"]:checked+label {
            background-color: rgb(0, 153, 255);
            color: white;
        }

        input:hover {
            color: $negro;
            background-color: #ecf6fa;
        }

    }
}

span {
    color: #10101a;
    display: grid;
    opacity: 1;
    font-size: xx-large;
    font-weight: bolder;
}

.caja-filtrosinventario input::placeholder {
    padding: 0 1rem;
}

.caja-filtrosventas input::placeholder {
    padding: 0 1rem;
}

.despliegueinventario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos contenedores principales */
    gap: 20px;
    width: 100%;
    margin-top: 5rem;
    padding: 0 2rem;

}

.inventariogrid {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-columns: 3fr 2fr;
    // gap: 20px;

    .gridcontenido1 {
        grid-column: 1;
        grid-row: 1fr;

        /* Ubica esta sección en la primera columna */
    }

    .dinerogrid {
        grid-column: 2;
        /* Ubica esta sección en la segunda columna */
        text-align: right;
        grid-row: 1fr;

        padding-top: 3rem;
    }

}

.nombreprod {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    margin: 0;
    padding: 0;
    gap: 2rem;

    img {
        width: 10rem;
        height: auto;
        border-radius: 8px;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

.inventariogrid:hover {
    background-color: #f3f4f5;

}

.inventarionombre {
    display: flex;
    align-items: center;
    gap: 10px;



    h3 {
        margin: 0;
        font-size: 1.7rem;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;


    }

    p {
        margin: 0;
        font-weight: bold;
        font-size: 1.3rem;
        color: rgb(84, 196, 32);
        text-transform: uppercase;

    }

}

.flexdescripcion,
.flexcodigo,
.flexproveedor,
.flexreloj {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
        font-size: 1.3rem;
        color: #10101a;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    .negritas {
        font-weight: bold;

    }
}


.inventarionombre,
.flexdescripcion,
.flexcodigo,
.flexproveedor,
.flexreloj {
    margin-bottom: 1rem;
    /* Añade separación entre elementos */

}

.preciodeventa,
.preciodecompra,
.gananciap,
.gananciad {
    margin-bottom: 0.5rem;

    /* Espaciado entre los datos de la segunda columna */


    p {
        margin: 0;
        font-size: 1.3rem;
        color: #10101a;
    }

    .negritas {
        font-weight: bold;

    }

    .dineros {
        font-size: 1.82rem;
        font-weight: bold;
        background: linear-gradient(to right, #0400ff, #33cc33);
        /* Otro degradado para el párrafo */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .dineros1 {
        color: #0400ff;
        font-size: 1.82rem;
        font-weight: bold;
    }
}

.botonesinventario {
    display: flex;

}


.botonesinventario {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 2;

    gap: 10px;
    /* Espacio entre filas */
}

.primerafila {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ocupa toda la fila */
}

.botonactualizarstock {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #192ac7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.botonactualizarstock:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    color: #192ac7;
    border: solid 1px #192ac7;



}

.segundafila {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espacio entre los botones */
}

.botonactualizar,
.botoneliminar {
    flex: 1;
    /* Hace que ambos botones compartan el ancho del contenedor */
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-weight: bold;

}

.botoneliminar {
    background-color: #e01b2f;
}

.botoneliminar:hover {
    background-color: #f9f9f9;
    color: #e01b2f;
    border: solid 1px #e01b2f;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.botonactualizar {
    background-color: #198a32;
}

.botonactualizar:hover {
    background-color: #f9f9f9;
    color: #198a32;
    border: solid 1px #198a32;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.imgdescripcion,
.imgcodigo,
.imgproveedor,
.imgreloj {
    width: 2.7rem;
    height: 2.7rem;

}

.imgcoca {
    width: 100%;

}

@include telefono-1 {
    .proveedores-titulo {
        h3 {
            padding: 0 10rem;
        }
    }

    .botones {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    .imagen-slider {
        p {
            padding: 0 2rem;
        }
    }

    .busqueda-filtrosinventario {
        .caja-filtrosinventario {
            grid-template-columns: 1fr;
            grid-template-rows: max-content;
        }
    }

    .tipo-movimiento1 {
        grid-column: 1;
        grid-row: 5;
    }

    .inventariogrid {
        padding: 3rem 2rem;
        grid-template-columns: 1fr;

    }

    .despliegueinventario {
        grid-template-columns: 1fr;

    }

}

@include tablet {
    .proveedores-titulo {
        h3 {
            padding: 0 20rem;
        }
    }

    .imagen-slider {
        p {
            padding: 0 5rem;
        }
    }

    .botones {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;

    }

    .caja-filtrosinventario {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }


    .tipo-movimiento1 {
        grid-column: 1;
        grid-row: 5;
    }

    .inventariogrid {
        padding: 3rem 2rem;
    }

    .despliegueinventario {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include laptop-1 {
    .proveedores-titulo {
        h3 {
            padding: 0 30rem;
        }
    }

    .imagen-slider {
        p {
            padding: 0 30rem;
        }
    }

    .botones {
        grid-template-columns: repeat(3, 1fr);

    }

    .caja-filtrosinventario {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
    }


    .tipo-movimiento1 {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    .inventariogrid {
        padding: 3rem 1.3rem;

    }

    .despliegueinventario {
        grid-template-columns: repeat(3, 1fr);
    }
}

.modal--inventarioEliminar,
.modalCategorias--eliminar .modal--cancelarProducto,
.modal--cancelarProductos,
.modal--cancelarCarrito, .modal--proveedoresEliminar, .modalproveedores--eliminar {
    &__opciones {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        text-align: center;
        padding: 5px;
        width: 3.5rem;

    }
}

.modal--cancelarProducto,
.modal--cancelarProductos,
.modal--cancelarCarrito, .modalproveedores--eliminar {
    &__opciones {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        margin-top: 1rem;
        text-align: center;
        padding: 5px;
        width: 3.5rem;

    }

}

.switchInventario {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 0;



    .botonAgotado {
        grid-column: 1/2;
        width: 100%;

    }

    .botonVerTodos {
        grid-column: 2/3;
        width: 100%;

    }

    .botonExceso {
        grid-column: 3/4;
    }

    input[type="radio"] {
        display: none;
        height: 4rem;

    }

    label {
        width: 100%;
        padding: 14px 10px;
        background-color: #ddd;
        border-radius: 20px;
        cursor: pointer;
        user-select: none;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        display: inline;
    }

    .botonVerTodos {
        label:hover {
            background-color: #1100ab;
            color: #fff;

        }
    }

    .botonAgotado {
        label:hover {
            background-color: #980000;
            color: #fff;

        }
    }

    .botonExceso {
        label:hover {
            background-color: #236900;
            color: #fff;

        }
    }

    input[type="radio"]:checked+label {
        background-color: blue;
        color: white;
    }

    input:hover {
        color: $negro;
        background-color: #F9E7F2;
    }
}

// .switchInventario.labelsDisplay{
//     label{
//         display: ruby-text;
//     }
// }





.switchSegundaFila {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    width: 100%;
    margin-top: 0;


    .botonPorAgotarse {
        grid-column: 1/2;
        width: 100%;

    }

    .botonPorAgotarse {
        label:hover {
            background-color: #C20000;
            color: #fff;

        }
    }

    .botonSufuciente {
        grid-column: 2/3;
        width: 100%;

    }
    .botonSuficiente {
        label:hover {
            background-color: #309100;
            color: #fff;

        }
    }

    input[type="radio"] {
        display: none;
        height: 3.2rem;

    }

    label {
        width: 100%;
        padding: 14px 14px;
        background-color: #ddd;
        border-radius: 20px;
        cursor: pointer;
        user-select: none;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        display: inline;
    }



    input[type="radio"]:checked+label {
        background-color: blue;
        color: white;
    }

    input:hover {
        color: $negro;
        background-color: #F9E7F2;
    }
}

.switchInventario,
.switchSegundaFila {
    @include telefono-1 {
        gap: 3px;
    }

    @include tablet {
        gap: 4px;
    }

    @include laptop-1 {
        gap: 15px;
        margin-bottom: 1rem;
    }
}

.divSelectMotivo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    label{
        text-align: center;
        align-items: center;
        font-weight: bold;
    }

    select{
        border: solid 1px darkred;
        height: 35px;
        border-radius: 1rem;
        cursor: pointer;
    }

    select:hover{
        background-color: #f5f2f2;
    }
}

.seleccionSlider{
    background-color: rgb(255, 255, 255);
    color: #1100ab !important;
}

.seleccionSlider span {
    background-color: rgb(255, 255, 255);
    color: #6655ff !important;
}


