.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover{
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

    }
}

.logo {
    height: 11rem;
  
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height 0.5s linear;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 1.8rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }


    }
    
}

.verde:hover{
    color: rgb(8, 194, 8);
}

.azul:hover{
    color: rgb(20, 57, 219);
}

.naranja:hover{
    color: rgb(226, 118, 17);
}

.rojo:hover{
    color: rgb(218, 45, 22);
}

.rosa:hover{
    color: rgb(233, 30, 148);
}

.morado:hover{
    color: rgb(163, 3, 142);
}

// Menú de hamburguesa
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}