.contenedorprov {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    h1 {
        font-size: 3.8rem;
        margin: 2.5rem 0 1rem 0;
    }
}

.seccionprov {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}

.gridpresentacion {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2rem;

    .presentacion1 {
        grid-column: 1;
        grid-row: 1;

        .presentacion1img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 240px;
        }
        h3 {
            font-size: 2.5rem;
            padding: 0 5rem 0 5rem;
        }
        .p1img {
            width: 100%;
            max-width: 240px;
            height: auto;
            background-color: transparent;
            border-radius: 1rem;
        }
    }
    .presentacion2 {
        grid-column: 2;
        grid-row: 1;

        .presentacion2boton, .presentacion2boton1 {
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
        .presentacion2boton2 {
            display: flex;
            justify-content: center;
        }
        .p2boton,
        .p2boton1, .p2boton2 {
            position: relative;
            text-decoration: none;
            font-size: 2rem;
            padding: 1.5rem 4rem;
            border: 1px solid;
            border-radius: 6px;
            font-weight: 600;
            transition: background-color .3s;
            display: inline-block;
            text-align: center;
            min-width: 88%;
        }
        .p2boton {
            background-color: #8D28A7;
            color: #fff;
        }
        .p2boton1 {
            background-color: #B02997;
            color: #fff;
        }
        .p2boton2 {
            background-color: #BD3F72;
            color: #fff;
        }
        .p2boton:hover {
            color: #8D28A7;
            background-color: #fff;
        }
        .p2boton1:hover {
            color: #B02997;
            background-color: #fff;
        }
        .p2boton2:hover {
            color: #BD3F72;
            background-color: #fff;
        }
    }
}

@include telefono-1 {
    .gridpresentacion {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .presentacion1 {
            grid-row: 1;
            grid-column: 1;
        }
        .presentacion2 {
            grid-row: 2;
            grid-column: 1;
        }
    }
}

@include tablet {
    .gridpresentacion {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .presentacion1 {
            grid-column: 1;
            grid-row: 1;
        }

        .presentacion2 {
            grid-column: 2;
            grid-row: 1;
        }
    }
}

@include laptop-1 {
    .gridpresentacion {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        .presentacion1 {
            grid-column: 1;
            grid-row: 1;
        }
        .presentacion2 {
            grid-column: 2;
            grid-row: 1;
        }
    }
}

.slider-indicators {
    text-align: center;
    margin-top: 1rem;
}

.slider-indicators .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-indicators .dot.active {
    background-color: #8D28A7; /* Mismo color que tus botones */
}

.proveedores-tabla{
    h1{
        padding-top: 4rem;
    }
}


