.alerta {
font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 1rem;


    &.error {
        background-color: red;
       
        

    }

    &.exito {
        background-color: green;

    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: $verde;

        th {
            color: $blanco;
            padding: 2rem;
        }
    }

    tbody {
        td {
            text-align: center;
        }
    }

    .imagen-tabla {
        width: 10rem;
        height: 100%;
        margin: auto;
    }

}


.contenedor2 {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 1rem;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	font-size: 20px;
	margin-bottom: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn {
	width: 100%;
	border: none;
	background: rgb(0, 0, 0);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #3e14b2;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}


.imagen-small {
    width: 20rem;

}